/target
.direnv/
.DS_Store
*.swp
*.swo
flake.lock
staging/
ios/Bindings/
ios/Frameworks/
ios/.build/
ios/*.xcodeproj
android/app/src/main/jniLibs/
android/.gradle/
android/build/
android/app/build/
android/local.properties
